{% extends 'base.html' %}

{% block content %}
    {% if has_users %}
        <h2>We have {{ total_users }} users!</h2>
        <h3>Male Users ({{ male_count }})</h3>
        {% for user in male_users %}
            <div>{{ user.first_name }} {{ user.last_name }}</div>
        {% empty %}
            <p>No male users found</p>
        {% endfor %}
        <h3>Female Users ({{ female_count }})</h3>
        {% for user in female_users %}
            <div>{{ user.first_name }} {{ user.last_name }}</div>
        {% empty %}
            <p>No female users found</p>
        {% endfor %}
    {% else %}
        <p>No users in database</p>
    {% endif %}
{% endblock %}

